# Project information
site_name: 東山Pi
site_url: https://github.com/100askTeam/Dongshanpi-Docs.git
site_author: 100ask
site_description: >-
  DongShan Pi boards Start Page.
copyright: Copyright &copy; 2008 - 2021 100ask Team
edit_uri: https://github.com/100askTeam/Dongshanpi-Docs/tree/master/docs

# Configuration
theme:
  name: null
  custom_dir: !ENV [THEME_DIR, "material"]
  language: custom
  # Static files
  static_templates:
    - 404.html

  # Don't include MkDocs' JavaScript
  include_search_page: true
  search_index_only: true

  # Default values, taken from mkdocs_theme.yml
  language: zh
  features:
    - content.code.annotate
    # - content.tabs.link
    - header.autohide
    # - navigation.expand
    - navigation.indexes
    # - navigation.instant
    - navigation.sections
    - navigation.tabs
    # - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    # - toc.integrate
  palette:
    - scheme: default
      primary: teal
      accent: teal
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - scheme: slate
      primary: red
      accent: red
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
  font:
    text: Roboto
    code: Roboto Mono
  favicon: favicon.png
  icon:
    logo: dsp-logo

# Plugins
plugins:
  - search
  - minify:
      minify_html: true

extra:
  analytics:
    provider: google
    property: G-LZX4K52CZ1
    feedback:
      title: Was this page helpful?
      ratings:
        - icon: material/emoticon-happy-outline
          name: This page was helpful
          data: 1
          note: >-
            Thanks for your feedback!
        - icon: material/emoticon-sad-outline
          name: This page could be improved
          data: 0
          note: >- # 
            Thanks for your feedback! Help us improve this page by
            using our <a href="..." target=_blank>feedback form</a>.    
  alternate:
    - name: English
      link: /en/
      lang: en
    - name: 中文
      link: /zh/
      lang: zh
      
#  disqus: dongshanpi-com

# Extensions
markdown_extensions:
  - admonition
  - abbr
  - attr_list
  - def_list
  - footnotes
  - meta
  - md_in_html
  - toc:
      slugify: !!python/name:pymdownx.slugs.uslugify  
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      repo_url_shorthand: true
      user: squidfunk
      repo: mkdocs-material
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid-experimental
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  
# Page tree
nav:
  - 根页面:
    - index.md
  - 東山Pi壹号:
    - 主板简介: 'DongshanPi-One/01-BoardIntroduction.md'
    - 配套资源: 'DongshanPi-One/02-SupportingResources.md'
    - 快速上手:
      - 连接开发板: 'DongshanPi-One/03-QuickStart.md'
      - 常见问题: 'DongshanPi-One/03-SomeQustion.md'
    - 原厂SDK开发入门:
      - 获取源码: 'DongshanPi-One/05-GetSourceCode.md'
      - 编译烧写Boot: 'DongshanPi-One/06-BuildFlashBoot.md'
      - 编译烧写Kernel: 'DongshanPi-One/07-BuildFlashKernel.md'
      - 编译烧写系统: 'DongshanPi-One/08-BuildFlashSystem.md'
      - 应用Demo示例: 'DongshanPi-One/16-RunDempApp.md'
    - 系统加强:      
      - 支持的模块: 'DongshanPi-One/09-SupportHardware.md'
      - 支持的工具: 'DongshanPi-One/10-SupportTools.md'
      - 支持的其它系统: 'DongshanPi-One/11-SupportOtherSystem.md'
    - Linux社区版本:
      - 社区版本开发: 'DongshanPi-One/15-SupportLinuxCommunity.md'
  - 关于我们:
     - 简介: 'About.md'
